html,
body {
  background-color: rgba(218, 237, 245, 0.767);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
div {
  background-color: rgba(218, 237, 245, 0.767);
}
a {
  color: inherit;
  text-decoration: none;
}

*, *::before, *::after {
  box-sizing: border-box;
  font-family: Gotham Rounded;
  font-size: 17px;
}

